---
import { getEntry, type CollectionEntry } from "astro:content";
import NavBar from "../components/NavBar.astro";
import Navbar1 from "../components/Navbar1.astro";
import AboutMe from "../content/blog/AboutMe.md";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import "../styles/global.css";

const pageTitle = "About Me";

// const entry: CollectionEntry<any> = await getEntry('blog', 'AboutMe')
// const Content = await (entry as any).render();

// const about = await Astro.glob("../content/blog/AboutMe.md");
---

<!-- <main class="container"></main> -->

<div id='aboutMe' class={`justify-center`}>
  <Layout title={pageTitle}>
    <Main>
    <NavBar />
	<!-- <Navbar1 /> -->
    <!-- <AboutMe /> -->
    <!-- <Content /> -->
  </Main>
  </Layout>
</div>
