---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import Navbar1 from "../components/Navbar1.astro";
import AboutMe from "../content/blog/AboutMe.md";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const about = await Astro.glob("../content/blog/AboutMe.md");
---

<main class="container"></main>

<div class={`bg-blue justify-center`}>
  <Layout title={pageTitle}>
    <Main>
    <NavBar />
	<!-- <Navbar1 /> -->
    <AboutMe />
  </Main>
  </Layout>
</div>
