---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Navbar1 from "../components/Navbar1.astro";
import Main from "../layouts/Main.astro";

const pageTitle = "Content will pass through here ...";
---

<body>
  <!-- <Header />  -->
  <Layout title={pageTitle}>
  <Main>
    <NavBar />
  </Main>
  <!-- <Navbar1 /> -->
  </Layout>
</body>
