<section class="header">
<header class="flex flex-row full-width justify-center place-content-center px-4 my-8 max-sm:px-5 max-sm:py-10 max-w-7xl w-full px-auto">
	<a href="/" class="flex gap-x-4">
		<img 
			src="images/GlobalTales.png"
			class="h-full w-16 mr-2 pb-12"
			alt="Planet icon"
			class="rounded-2xl aspect-thumbnail bg-current"
		/>
	</a>
	<p class=" text-3xl pt-3">Global tales</p>
</header>	
</section>