---
// import Navigation from "../components/Navigation.astro";
// import { HoveredLink } from "../components/ui/NavBar";
import Main from "../layouts/Main.astro";
import StaryBackground from "../components/ui/StaryBackground";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="en" />
    <meta name="viewport" content="width=device-width" />
    <!-- <title class="text-3xl">{title}</title> -->
  </head>
  <body id="root">
    <div id="textColor">
      <Main>
        <!-- <div id="content"> -->
        <!-- <slot /> -->

        <!-- <Navigation /> -->
        <!-- <HoveredLink client:only /> -->
        <!-- <header class="lg:flex justify-between p-5 gap-5 mx-auto container"> -->
        <!-- <div class="hamburger" id="hamburger"> -->
        <Astronav closeOnClick>
          <div class="flex w-full lg:w-auto justify-end">
            <!-- <a>Your Logo</a> -->
            <!-- <div class="lg:hidden">
              <MenuIcon class="w-4 h-4 text-gray-800" />
            </div> -->
          </div>
          <MenuItems class="Navbar hidden lg:flex">
            <nav id="textColor">
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <button>
                    <a href="/posts/aboutme/">About</a>
                  </button>
                </li>
                <li>
                  <button>
                    <a href="/blog/">Blog</a>
                  </button>
                </li>
                <li>
                  <button>
                    <a href="/tags/">Tags</a>
                  </button>
                </li>

                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </nav>
          </MenuItems>
        </Astronav>
        <!-- </div> -->
        <!-- <Astronav closeOnClick> -->
        <!-- <section class="Navbar"> -->
        <!-- <MenuItems class="Navbar" id="navbar"
            
          > -->
        <!-- <div id="textColor" >
              <ul >
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <button >
                    <a href="about">About</a>
                  </button>
                </li>
                <li>
                  <button >
                    <a href="blog">Blog</a>
                  </button>

                  <li>
                    <a href="#">Contact</a>
                  </li>
                </li>
              </ul>
            </div> -->
        <!-- </MenuItems> -->

        <!-- </section> -->
        <!-- </Astronav> -->
        <!-- </header> -->
      </Main>
    </div>
    <!-- <script src="../utils/navToggle.ts"></script> -->
  </body>
</html>
