---
// Layout.astro
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
// import Navigation from "../components/Navigation.astro";
// import { HoveredLink } from "../components/ui/NavBar";
import Main from "../layouts/Main.astro";
import StaryBackground from "../components/ui/StaryBackground";
import type { Code } from "astro:components";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="en" />
    <meta name="viewport" content="width=device-width" />
    <!-- <title class="text-3xl">{title}</title> -->
  </head>
  <body id="root" >
    <!-- <div id="textColor"> -->
    <Main>
      <!-- <Header /> -->
      <!-- <div id="content"> -->
      <!-- <slot /> -->
      <!-- <header
        
      > -->
        <!-- <Navigation /> -->
        <!-- <HoveredLink client:only /> -->
        <!-- <header class="lg:flex justify-between p-5 gap-5 mx-auto container"> -->
          <!-- <div class="flex flex-grow sticky right-0" > -->
            <Astronav closeOnClick>
    <div class="flex w-full lg:w-auto justify-between">
      <!-- <a>Your Logo</a> -->
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="Navbar hidden lg:flex">
      <!-- <MenuItems class="Navbar" id="navbar" >-->
            
          
            <div id="textColor" >
              <ul >
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <button >
                    <a href="about">About</a>
                  </button>
                </li>
                <li>
                  <button >
                    <a href="blog">Blog</a>
                  </button>

                  <li>
                    <a href="#">Contact</a>
                  </li>
                </li>
              </ul>
            </div>
          </MenuItems>
  </Astronav>
          <!-- </div> -->
        <!-- <Astronav closeOnClick> -->
          <!-- <section class="Navbar"> -->
          <!-- <MenuItems class="Navbar" id="navbar"
            
          > -->
            <!-- <div id="textColor" >
              <ul >
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <button >
                    <a href="about">About</a>
                  </button>
                </li>
                <li>
                  <button >
                    <a href="blog">Blog</a>
                  </button>

                  <li>
                    <a href="#">Contact</a>
                  </li>
                </li>
              </ul>
            </div> -->
          <!-- </MenuItems> -->

          
          <!-- </section> -->
        <!-- </Astronav> -->
      <!-- </header> -->
    </Main>
    <!-- </div> -->
    <!-- <script src="../utils/navToggle.ts"></script> -->
  </body>
</html>