---

---

<div
  class="flex flex-row m-0 pr-[120px] h-13 min-h-13 items-center justify-between border-0"
>
  <div class="flex-1 flex flex-row flex-nowrap items-center"></div>
  <div class="flex flex-row w-6/12 px-4">
    <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    </div>
  </div>
</div>

<style>
    a {
        margin: 1rem;
        justify-content: center;
        align-items: right;

    }
</style>
