---
import { ViewTransitions } from "astro:transitions";
import Main from "./Main.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
    <Main>
      <Header />
    <ViewTransitions />
    </Main>
  </head>
  <body>
    <slot />
  </body>
</html>