---
import NavBar from "../components/NavBar.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";

const { frontmatter } = Astro.props;
---


  <Layout>
      <!-- <article class="mx-auto relative"> -->
          <main class="main-content">
    <Main>
        <br />
      <h1 class="text-bold text-center text-5xl">{frontmatter.title}</h1>
      <br />
      <p class="text-end"><em>{frontmatter.description}</em></p>
      <p class="text-end">Written by {frontmatter.author}</p>
      <br />
      <NavBar />
      <slot />
    </Main>
</main>
<!-- </article> -->
  </Layout>
